%flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%width-and-border {
  div {
    width: 170px;
    text-align: center;
    padding-bottom: 15px;

    &:nth-child(2) {
      border-left: 1px solid #2a3440;
      border-right: 1px solid #2a3440;
    }
  }
}

.weather-additional-info_small {
  .icons {
    @extend %flex-row;
    margin-bottom: 15px;

    &__wind {
      margin-right: 10px;
    }
  }

  .values {
    @extend %flex-row;
    font-size: 16px;
    color: #ffffff;
  }
}

.weather-additional-info_big {
  width: 510px;
  margin: 0px auto;

  border-bottom: 1px solid #2a3440;

  .icons {
    @extend %flex-row;
    @extend %width-and-border;
  }

  .values {
    @extend %flex-row;
    font-size: 18px;
    color: #ffffff;
    
    @extend %width-and-border;
  }
}