@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.error-message {
  width: 296px;
  display: flex;
  text-align: center;
  margin: 215px auto;
  padding: 15px 10px;
  border: 2px solid red;
  color: #e00000;
  background-color: #ffd5d5;
}

.error-message__text {
  font-size: 20px;
  font-family: Montserrat;
  margin-right: 5px;
}

.error-message__icon {
  font-size: 22px;
}
